:root {
    /* colores */
    --bg-oscuro: #212529;
    --gris-suave: #cfcfcf;
    --azul-oscuro: #22303d;
    --blanco: #fff;
    --blanco-humo: #f5f5f5;
    --verde: #198754;
    --rojo-alerta: #cc2828;
    /* box shadow */
    --sombra: 1px 1px 6px 0px rgba(57,57,57,0.75);
    /* tipografia */
    --principal: 'Quicksand', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--principal);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    color: var(--blanco);
    background-color: var(--bg-oscuro);
}
.container {
    max-width: 50rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
}

img {
    width: 100%;
}
.trabajos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 1rem;
}
.cartaTrabajo {
    width: 14rem;
    padding: .5rem;
    background-color: var(--blanco);
    color: var(--azul-oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .2rem;
    box-shadow: var(--sombra);
}
.cartaTrabajo >.trabajo__imagen {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.cartaTrabajo > .trabajo__categoria {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    width: 6rem;
    height: 1.5rem;
    text-align: center;
    padding: .2rem;
    border-radius: .2rem;
    font-weight: bold;
}
.cartaTrabajo > .trabajo__descripcion {
    text-align: center;
}
#buscador {
    width: 20rem;
    height: 2rem;
    padding: .3rem 1rem;
    border: none;
    border-radius: .2rem;
}
.btn {
    background-color: var(--verde);
    color: var(--blanco);
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: .2rem;
    text-transform: uppercase;
    margin: 0 1rem;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}
.btn:active {
    background-color: var(--rojo-alerta);
}
